* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background-color: #000;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #275A55;
    border-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

@font-face {
    font-family: "Balgin-Bold";
    src: url("../../assets/fonts/balgin/Balgin\ Bold.ttf");
}

@font-face {
    font-family: "Mont-Light";
    src: url("../../assets/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Mont-Bold";
    src: url("../../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Mont-Semi-Bold";
    src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Gobold-Reg";
    src: url("../../assets/fonts/Gobold/Gobold\ Regular.otf");
}

@font-face {
    font-family: "Gobold-Thin";
    src: url("../../assets/fonts/Gobold/Gobold\ Thin.otf");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../../assets/fonts/Poppins/Poppins-Light.ttf");
}

#main-content {
    position: relative;
    display: none;
}

#title {
    width: 28%;
    left: 20px;
    position: absolute;
    top: 0px;
}

#title img {
    width: 70%;
}

#btn {
    position: fixed;
    z-index: 5;
    top: 15px;
    right: 15px;
    cursor: pointer;
    -webkit-transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    display: none;
}

#btn div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #8b0129;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91),
        opacity 500ms, box-shadow 250ms, background-color 500ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms,
        box-shadow 250ms, background-color 500ms;
}

#btn:hover>div {
    box-shadow: 0 0 1px #000708;
}

#btn.active {
    right: 12px;
    border-bottom: 1px solid transparent;
}

#btn.active div {
    background-color: #343838;
}

#btn.active:hover>div {
    box-shadow: 0 0 1px #343838;
}

#btn.active #top {
    -webkit-transform: translateY(10px) rotate(-135deg);
    -ms-transform: translateY(10px) rotate(-135deg);
    transform: translateY(10px) rotate(-135deg);
}

#btn.active #middle {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#btn.active #bottom {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

#box {
    position: fixed;
    /* background: linear-gradient(229deg, #E69024, #E69024, #653290); */
    /* background: linear-gradient(229deg, #653290, #653290, #E69024); */
    z-index: 4;
    overflow: auto;
    top: 0px;
    right: -275px;
    background-color: #fff;
    width: 275px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    color: #343838;
    -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#box.active {
    right: 0px;
    opacity: 1;
    border-bottom: #fff;
}

#items {
    position: relative;
}

#items a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: "NewYork";
}

#items .item {
    position: relative;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 15px 30px;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}

.imglogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#items .item:hover {
    padding: 15px 45px;
    background-color: rgba(52, 56, 56, 0.2);
}

.header-icons {
    width: 60%;
}

/* header desktop */
.header {
    width: 100%;
    z-index: 4;
    transition: 0.5s all ease-in-out;
    position: fixed;
    top: 0;
    /* height: 90px; */
    /* height: 100px; */
    height: 85px;
    color: #fff;
    /* padding-top: 1rem; */
    /* background-color:#FF1493; */
}

#White_links .header_links {
    color: #fff;
}

.active,
.header_links:hover {
    border-bottom: 2px solid #FFA227;
    color: #FFA227;
}

.image-change .active,
.weds-img-div {
    border-bottom: 2px solid #fff;
}

#main-content #title a {
    text-decoration: none;
}

.logo {
    width: 20%;
    /* background-color: #8b0129; */
}

.logoImg {
    width: 100%;
    height: 85px;
    background-image: url("../../assets/images/1x/logoImg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoDiv {
    width: 60%;
    /* background-color: #8b0129; */
    margin: auto;
    height: 70px;
}

.logoDivImg {
    width: 100%;
}

.logoDivImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo img {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.link {
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Mont-Light";
}

.destop-nav-bar .link a {
    text-decoration: none;
    margin: 0px 4px;
    color: #fff;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-family: "Mont-Light";
}

.destop-nav-bar .link a:hover {
    color: #8b0129;
}

.destop-nav-bar a {
    text-decoration: none;
}

/* ========Home Banner css open======== */
.homeBanner {
    position: relative;
    width: 100%;
    height: 820px;
    background-color: #F2F2F2;
}

.banner1 {
    background-color: #000;
    min-height: 650px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goldenDiv {
    position: absolute;
    width: 80%;
    height: 100%;
    /* background-color: #275A55; */
    bottom: -180px;
    right: 0;
    z-index: 1;
}

.goldenDivImg {
    width: 100%;
    height: 100%;
}

.goldenDivImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leftBannerDiv {
    width: 40%;
    /* background-color: #275A55; */
}

.leftTextdiv {
    width: 100%;
    height: 100%;
    padding-left: 5.5rem;
}

.leftTextdiv h5 {
    color: #fff;
    font-family: "Mont-Light";
}

.leftTextdiv h1 {
    color: #fff;
    font-family: "Gobold-Reg";
}

.leftTextdiv h2 {
    color: #fff;
    font-family: "Balgin-Bold";
}

.cstmBtn {
    background-color: #FFA227;
    color: #fff;
    font-family: "Poppins-Light";
    border: none;
    padding: 10px 15px;
}
.cstmBtn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #FFA227;
}
.rightBannerDiv {
    width: 60%;
    /* background-color:#8b0129; */
}

.curveDiv {
    width: 100%;
    height: 100%;
}

.curveImgDiv {
    width: 100%;
    height: 100%;
}

.curveImgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ========Home Banner css closed======== */
/* ========About Section css closed======== */
.aboutSectionHome {
    background-color: #F2F2F2;
    position: relative;
}

.orgDiv {
    width: 100%;
    height: 100%;
    /* background-color: #343838; */
}

.orginDivImg {
    width: 100%;
    height: 100%;
}

.servicesSec h3 {
    color: #000;
    font-family: "Gobold-Reg";
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.secDiv {
    width: 100%;
    min-height: 350px;
    background-color: #000;
}

.serTop {
    width: 350px;
    height: 130px;
}

.sertopImg {
    width: 100%;
    height: 130px;
    background-image: url("../images/1x/orgLine.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.iconSec {
    width: 350px;
    height: 150px;
    /* background-color: #fff; */
}

.iconSecDiv {
    width: 100%;
    height: 100px;
    /* background-color: #275A55; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.secDiv h5 {
    color: #fff;
    font-family: "Mont-Semi-Bold";
    padding-top: 2rem;
    padding-left: 1rem;
}

.secDiv p {
    color: #fff;
    font-family: "Mont-Light";
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
}

/* ========About Section css closed======== */
/* ========let’s take car css closed======== */
.letImg {
    background: url("../../assets/images/1x/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.letImg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../../assets/images/1x/overlay3.png");
    z-index: -1;
}

.letsTake h3 {
    color: #fff;
    font-family: "Gobold-Thin";
}

.letsTake h4 {
    color: #fff;
    font-family: "Gobold-Thin";
}

.letsTake p {
    color: #fff;
    font-family: "Poppins-Light";
}

.cstmBtn1 {
    background-color: #000;
    color: #fff;
    font-family: "Poppins-Light";
    border: none;
    padding: 10px 15px;
}
.cstmBtn1:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
/* ========Blog Section css open======== */
.blogSection h3{
    color: #000;
    font-family: "Gobold-Reg";
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.card{
    border: none;
}
.cardDiv{
    width: 100%;
    height: 250px;
}
.cardDivImg{
    width: 100%;
    height: 250px;
}
.cardDivImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 10px solid #FFA227;
}
.card-body {
    /* flex: 1 1 auto; */
    padding: 0rem 0rem;
}
.cardBodyDiv{
    width: 100%;
    height: 250px;
    position: relative;
}
.cardBodyDivImg{
    width: 100%;
    height: 250px;
    background-image: url("../../assets/images/1x/blackbg_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cardBodyDivImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.triDiv{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    bottom: 0;
    right: 0;
}
.triDivImg{
    width: 100px;
    height: 100px;
}
.triDivImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ========Blog Section css closed======== */

























/* ========================================= 
/* MEDIA QUERY
========================================= */
@media (min-width:1600px) and (min-width:1920px) and (min-width:2560px) and (max-width:1366px) and (max-width:1280px) and (max-width:1024px) {
    #main-content {
        display: none;
    }
}

@media only screen and (min-width:1600px) {
    #main-content {
        display: none;
    }
}

@media only screen and (min-width:1400px) {
    #btn {
        display: none;
    }

    #main-content {
        display: none;
    }
}

@media only screen and (min-width:1440px) {
    #main-content {
        display: none;
    }
}

@media only screen and (min-width:1920px) {
    #main-content {
        display: none;
    }
}

@media only screen and (min-width:2560px) {
    #main-content {
        display: none;
    }
}

/* ===================  
  Max Media Queries 
  ======================== */
@media only screen and (max-width:1366px) {
    #main-content {
        display: none;
    }

    #btn {
        display: none;
    }
}

@media only screen and (max-width:1280px) {
    #main-content {
        display: none;
    }
}

@media only screen and (max-width:1024px) {
    #main-content {
        display: none;
    }
}

@media only screen and (max-width:820px) {
    #main-content {
        display: block;
    }

    .destop-nav-bar {
        display: none;
    }

    #btn {
        display: block;
    }

    .imglogo {
        width: 100px;
        margin: 50px auto 0 auto;
    }

    #items .item {
        position: relative;
        cursor: pointer;
        /* font-size: 1.3rem; */
        padding: 6px 30px;
        -webkit-transition: all 250ms;
        transition: all 250ms;
        text-align: center;
    }

    #items a {
        text-decoration: none;
        color: #000;
        font-family: "Mont-Light";
        font-size: 15px;
    }

}

@media only screen and (max-width:768px) {
    #main-content {
        display: block;
    }

    #btn {
        display: block;
    }

    .imglogo {
        width: 100px;
        margin: 50px auto 0 auto;
    }

    #items .item {
        position: relative;
        cursor: pointer;
        /* font-size: 1.3rem; */
        padding: 6px 30px;
        -webkit-transition: all 250ms;
        transition: all 250ms;
        text-align: center;
    }

    #items a {
        text-decoration: none;
        color: #000;
        font-family: "Mont-Light";
        font-size: 15px;
    }
}

@media only screen and (max-width:600px) {}

@media only screen and (max-width:540px) {}

@media only screen and (max-width:414px) {
    .imglogo {
        width: 100px;
        margin: 50px auto 0 auto;
    }

    #items .item {
        position: relative;
        cursor: pointer;
        /* font-size: 1.3rem; */
        padding: 6px 30px;
        -webkit-transition: all 250ms;
        transition: all 250ms;
        text-align: center;
    }

    #items a {
        text-decoration: none;
        color: #000;
        font-family: "Mont-Light";
        font-size: 15px;
    }

}

@media only screen and (max-width:390px) {}

@media only screen and (max-width:375px) {
    .destop-nav-bar {
        display: none;
    }

    #btn {
        display: block;
    }

    .mainBBanner {
        flex-wrap: wrap;
        height: 110vh;
    }
}

@media only screen and (max-width:360px) {}

@media only screen and (max-width:320px) {}

@media only screen and (max-width:280px) {}